# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
env
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/deployment.xml
.idea/kbs-portal.iml
.idea/mern-generic-crud.iml
.idea/modules.xml
.idea/php.xml
.idea/sshConfigs.xml
.idea/vcs.xml
.idea/webServers.xml
.idea/workspace.xml
.idea/dataSources/0e698c01-7118-450d-912d-4f80a9f455ce.xml
.idea/dataSources/0e698c01-7118-450d-912d-4f80a9f455ce/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
.idea/dataSources/0e698c01-7118-450d-912d-4f80a9f455ce/storage_v2/_src_/schema/mysql.osA4Bg.meta
.idea/dataSources/0e698c01-7118-450d-912d-4f80a9f455ce/storage_v2/_src_/schema/nuvia.5xBFBg.meta
.idea/dataSources/0e698c01-7118-450d-912d-4f80a9f455ce/storage_v2/_src_/schema/nuvia.5xBFBg.zip
.idea/dataSources/0e698c01-7118-450d-912d-4f80a9f455ce/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
.idea/dataSources/0e698c01-7118-450d-912d-4f80a9f455ce/storage_v2/_src_/schema/sys.zb4BAA.meta
